@model VerzovaciSystem.Models.CompaniesViewModel
@{
    ViewBag.Title = "Číselníky";
}

<h2>Odstranění záznamu z tabulky:  VERSION_COMPANY</h2><br/>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)



    <div class="form-horizontal">

        <div class="form-group">
            @Html.LabelFor(model => model.CompanyEntity.Id, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.CompanyEntity.Id, new { @class = "form-control", @readonly= "readonly" })
                @Html.ValidationMessageFor(model => model.CompanyEntity.Id, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CompanyEntity.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.CompanyEntity.Name, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.CompanyEntity.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CompanyEntity.Active, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.CompanyEntity.Active, new { @class="form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.CompanyEntity.Active, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CompanyEntity.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.CompanyEntity.Description, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.CompanyEntity.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CompanyEntity.Interface, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.CompanyEntity.Interface, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.CompanyEntity.Interface, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CompanyEntity.Type, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.CompanyEntity.Type, new { @class="form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.CompanyEntity.Type, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CompanyEntity.Language, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.CompanyEntity.Language, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.CompanyEntity.Language, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="col-md-1 col-md-10">
                <input type="submit" value="odstranit" class="btn btn-default" />
                @Html.ActionLink("zrušit", "TableView", "Companies", null, new { @class = "btn btn-default" })
            </div>
        </div>

    </div>

}

