@model VerzovaciSystem.Models.CompaniesViewModel
@{
    ViewBag.Title = "Data tabulky";
}

<h2>Tabulka: VERSION_COMPANY</h2><br/><br/>

<h4> @Html.ActionLink("Přidat záznam", "AddTableRow",null, htmlAttributes: new { @class = "btn btn-default" })</h4>


    <table border="1">
        
        <thead>
            <tr>
                        <th>
                            @Html.LabelFor(model => model.CompanyEntity.Id, new { @class = "control-label col-md-2" })
                        </th>
                        <th>
                            @Html.LabelFor(model => model.CompanyEntity.Name, new { @class = "control-label col-md-2" })
                        </th>
                        <th>
                            @Html.LabelFor(model => model.CompanyEntity.Active, new { @class = "control-label col-md-2" })
                        </th>
                        <th>
                            @Html.LabelFor(model => model.CompanyEntity.Description, new { @class = "control-label col-md-2" })
                        </th>
                        <th>
                            @Html.LabelFor(model => model.CompanyEntity.Interface, new { @class = "control-label col-md-2" })
                        </th>
                        <th>
                            @Html.LabelFor(model => model.CompanyEntity.Type, new { @class = "control-label col-md-2" })
                        </th>
                        <th>
                            @Html.LabelFor(model => model.CompanyEntity.Language, new { @class = "control-label col-md-2" })
                        </th>
                        <th>
                            Aktualizace
                        </th>
                        <th>
                            Odstranění
                        </th>
            </tr>
        </thead>
        
   

        @foreach (var item in Model.TableData)
        {
        <tbody>
            <tr>
                <td>
                    @item.Id 
                </td>
                <td>
                    @item.Name 
                </td>
                <td>
                    @item.Active  
                </td>
                <td>
                    @item.Description
                </td>
                <td>
                    @item.Interface
                </td>
                <td>
                    @item.Type
                </td>
                <td>
                    @item.Language 
                </td>
                <td>
                    @Html.ActionLink("Aktualizovat", "ChangeTableRow", new { iD=item.Id })
                </td>
                <td>
                    @Html.ActionLink("Odstranit", "DeleteTableRow", new { iD = item.Id })
                </td>
            </tr>
        </tbody>
            }
        

    </table>



