@model VerzovaciSystem.Models.VersionsViewModel

@{
    ViewBag.Title = "Vytvoření verze";
}

<h2>Vytvoření nové verze</h2>
@using (Html.BeginForm("GetTemplateVersion", "Versions",FormMethod.Post,Model))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <p>
    Vyber verzi podle šablony:
    @Html.DropDownListFor(model => model.TemplateVersionId, new SelectList(Model.TemplateVersions, "Value", "Text"))
        <input type="submit" value="vybrat vzor" class="btn btn-default" />
        <br />
   </p>
}

@using (Html.BeginForm("AddVersion", "Versions",FormMethod.Post,Model))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="form-horizontal">

        <div class="form-group">
            @Html.LabelFor(model => model.Version.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Version.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Version.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Version.Company, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Version.Company, new SelectList(Model.Companies, "Value", "Text"), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Version.Company, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Version.SourcePath, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Version.SourcePath, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Version.SourcePath, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Version.SqlData, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Version.SqlData, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Version.SqlData, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Version.Config, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Version.Config, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Version.Config, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Version.Date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Version.Date, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Version.Date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Version.LogUser, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Version.LogUser, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Version.LogUser, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Version.LogDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Version.LogDate, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Version.LogDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Version.Created, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Version.Created, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Version.Created, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Version.User, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Version.User, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Version.User, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Version.LogFlag, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Version.LogFlag, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Version.LogFlag, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Version.Delay, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Version.Delay, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Version.Delay, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Version.SqlDataCheck, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Version.SqlDataCheck, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Version.SqlDataCheck, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Version.DeletedBool, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.CheckBoxFor(model => model.Version.DeletedBool, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Version.DeletedBool, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Version.Mail, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Version.Mail, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Version.Mail, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Version.Message, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Version.Message, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Version.Message, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Version.Mode, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Version.Mode, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Version.Mode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Version.Group, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Version.Group, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Version.Group, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Version.Flag, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Version.Flag, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Version.Flag, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Version.FileFolderToDelete, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Version.FileFolderToDelete, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Version.FileFolderToDelete, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Version.MailMessage, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Version.MailMessage, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Version.MailMessage, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Version.MailFlag, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Version.MailFlag, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Version.MailFlag, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="col-md-1 col-md-10">
                <input type="submit" value="založit" class="btn btn-default" />
                @Html.ActionLink("Zrušit", "GetTodayVersions", "SelectionMask", null, new { @class = "btn btn-default" })
            </div>
        </div>

    </div>
}

