@model VerzovaciSystem.Models.VersionsViewModel

@{
    ViewBag.Title = "Seznam verzí";
}
<h2>Seznam dnešních verzí</h2>
<p>opravit v DbRepository.ReplaceDbViewV_VERSION_LIST2 v cmdCommand 30.05.2018 za TRUNC(SYSDATE)</p>

<table border="1">
    <thead>
        <tr>
            <th>
                @Html.LabelFor(model => model.SelectionMaskOutputEntity.Id, new { @class = "control-label col-md-2" })
            </th>
            <th>
                @Html.LabelFor(model => model.SelectionMaskOutputEntity.Company, new { @class = "control-label col-md-2" })
            </th>
            <th>
                @Html.LabelFor(model => model.SelectionMaskOutputEntity.Group, new { @class = "control-label col-md-2" })
            </th>
            <th>
                @Html.LabelFor(model => model.SelectionMaskOutputEntity.Date, new { @class = "control-label col-md-2" })
            </th>
            <th>
                @Html.LabelFor(model => model.SelectionMaskOutputEntity.Created, new { @class = "control-label col-md-2" })
            </th>
            <th>
                @Html.LabelFor(model => model.SelectionMaskOutputEntity.User, new { @class = "control-label col-md-2" })
            </th>
            <th>
                @Html.LabelFor(model => model.SelectionMaskOutputEntity.Status, new { @class = "control-label col-md-2" })
            </th>
            <th>
                @Html.LabelFor(model => model.SelectionMaskOutputEntity.CompanyType, new { @class = "control-label col-md-2" })
            </th>
        </tr>
    </thead>

    @foreach (var item in Model.SelectionResult)
    {
        <tbody>
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.Company
                </td>
                <td>
                    @item.Group
                </td>
                <td>
                    @item.Date.ToShortDateString()
                </td>
                <td>
                    @item.Created.ToShortDateString()
                </td>
                <td>
                    @item.User
                </td>
                <td>
                    @item.Status
                </td>
                <td>
                    @item.CompanyType
                </td>
            </tr>
        </tbody>
    }

</table>


    


