@model VerzovaciSystem.Models.VersionsViewModel

@{
    ViewBag.Title = "Detail verze";
}

<h2>Detail verze z VERSION_LOG</h2><br/>

<div class="form-horizontal">

    <div class="row">
        <div class="col-md-1 col-md-10">
            @Html.ActionLink("Události z VERSION_FLAG", "GetFlagVersions", "VersionsFlag", new { versionLogId = Model.Version.Id }, new { @class = "btn btn-default" })
            @Html.ActionLink("Odstranit verzi", "GetVersionForDeletion", new { idVersion = Model.Version.Id }, new { @class = "btn btn-default" })
            @Html.ActionLink("Aktualizovat verzi", "ChangeVersion", new { idVersion = Model.Version.Id }, new { @class = "btn btn-default" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Version.Id, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <p>@Model.Version.Id</p>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Version.Name, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <p>@Model.Version.Name</p>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Version.Company, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <p>@Model.Version.Company</p>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Version.SourcePath, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <p>@Model.Version.SourcePath</p>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Version.SqlData, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <p>@Model.Version.SqlData</p>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Version.Config, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <p>@Model.Version.Config</p>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Version.Date, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <p>@Model.Version.Date</p>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Version.LogUser, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <p>@Model.Version.LogUser</p>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Version.LogDate, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <p>@Model.Version.LogDate</p>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Version.Created, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <p>@Model.Version.Created</p>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Version.User, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <p>@Model.Version.User</p>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Version.LogFlag, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <p>@Model.Version.LogFlag</p>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Version.Delay, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <p>@Model.Version.Delay</p>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Version.SqlDataCheck, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <p>@Model.Version.SqlDataCheck</p>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Version.Deleted, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <p>@Model.Version.Deleted</p>
        </div>
    </div><br />

    <div class="form-group">
        @Html.LabelFor(model => model.Version.Mail, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <p>@Model.Version.Mail</p>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Version.Message, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <p>@Model.Version.Message</p>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Version.Mode, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <p>@Model.Version.Mode</p>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Version.Group, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <p>@Model.Version.Group</p>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Version.Flag, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <p>@Model.Version.Flag</p>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Version.FileFolderToDelete, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <p>@Model.Version.FileFolderToDelete</p>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Version.MailMessage, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <p>@Model.Version.MailMessage</p>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Version.MailFlag, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <p>@Model.Version.MailFlag</p>
        </div>
    </div>

</div>


