@model VerzovaciSystem.Models.TableListViewModel
@{
    ViewBag.Title = "Data tabulky";
}

<h2>Tabulka: @ViewBag.TableName</h2>


    <table border="1">
        
        <thead>
            <tr>
                        <th>
                            @Html.LabelFor(model => model.CompanyEntity.Id, new { @class = "control-label col-md-2" })
                        </th>
                        <th>
                            @Html.LabelFor(model => model.CompanyEntity.Name, new { @class = "control-label col-md-2" })
                        </th>
                        <th>
                            @Html.LabelFor(model => model.CompanyEntity.Active, new { @class = "control-label col-md-2" })
                        </th>
                        <th>
                            @Html.LabelFor(model => model.CompanyEntity.Description, new { @class = "control-label col-md-2" })
                        </th>
                        <th>
                            @Html.LabelFor(model => model.CompanyEntity.Interface, new { @class = "control-label col-md-2" })
                        </th>
                        <th>
                            @Html.LabelFor(model => model.CompanyEntity.Type, new { @class = "control-label col-md-2" })
                        </th>
                        <th>
                            @Html.LabelFor(model => model.CompanyEntity.Language, new { @class = "control-label col-md-2" })
                        </th>
                        <th>
                            Ulož změny
                        </th>
            </tr>
        </thead>
        
   

        @foreach (var item in Model.TableData)
        {
        <tbody>
            <tr>
                <td>
                    <input type="number" value="@item.Id"/> 
                </td>
                <td>
                    <input type="text" value="@item.Name" /> 
                </td>
                <td>
                    <input type="text" value="@item.Active" /> 
                </td>
                <td>
                    <input type="text" value="@item.Description" /> 
                </td>
                <td>
                    <input type="text" value="@item.Interface" /> 
                </td>
                <td>
                    <input type="text" value="@item.Type" /> 
                </td>
                <td>
                    <input type="text" value="@item.Language" />
                </td>
                <td>
                    @Html.ActionLink("Ulož změny", "SaveTableRow", new { iD=item.Id, name=item.Name, active=item.Active, description=item.Description, rozhrani=item.Interface, type=item.Type, language=item.Language })
                </td>
            </tr>
        </tbody>
            }
        

    </table>



