@model VerzovaciSystem.Models.VersionsFlagViewModel

@{
    ViewBag.Title = "Události k verzi";
}

<h2>Události z VERSION_FLAG u verze č.@Model.VersionFlagEntity.VersionLogId </h2>

<table border="1">
    <thead>
        <tr>
            <th>
                @Html.LabelFor(model => model.VersionFlagEntity.Id, new { @class = "control-label col-md-2" })
            </th>
            <th>
                @Html.LabelFor(model => model.VersionFlagEntity.Flag, new { @class = "control-label col-md-2" })
            </th>
            <th>
                @Html.LabelFor(model => model.VersionFlagEntity.Description, new { @class = "control-label col-md-5" })
            </th>
            <th>
                @Html.LabelFor(model => model.VersionFlagEntity.Date, new { @class = "control-label col-md-2" })
            </th>
            <th>
                Odkaz na log soubor
            </th>
            <th>
                @Html.LabelFor(model => model.VersionFlagEntity.Created, new { @class = "control-label col-md-2" })
            </th>
        </tr>
    </thead>
    @foreach (var flagVersion in Model.SelectionResult)
    {
    <tbody>
        <tr>
            <td>
                @flagVersion.Id
            </td>
            <td>
                @flagVersion.Flag
            </td>
            <td>
                @Html.Raw(flagVersion.Description) 
            </td>
            <td>
                @flagVersion.Date
            </td>
            <td>
                @if (flagVersion.IsFile)
                {
                   @Html.ActionLink("log soubor", "GetLogFile", new { versionFlagId=flagVersion.Id})
                }
            </td>
            <td>
                @flagVersion.Created
            </td>
        </tr>
    </tbody>

    }
</table>

    

