@model VerzovaciSystem.Models.SelectionMaskViewModel
@{
    ViewBag.Title = "Výběr";
}

<h2>
    @if (TempData.ContainsKey("todaysVersions"))
    {
        @TempData["todaysVersions"]
    }
    @if (TempData.ContainsKey("selectionMaskVersions"))
    {
        @TempData["selectionMaskVersions"]
    }
</h2>

<p>Pokud po kliku na dnešní verze nebo jsem po startu aplikace pak opravit v DbRepository.ReplaceDbViewV_VERSION_LIST2 v cmdCommand 30.05.2018 za TRUNC(SYSDATE)</p>

<table border="1">
    <thead>
        <tr>
            <th>
                @Html.LabelFor(model => model.SelectionMaskOutputEntity.Id, new { @class = "control-label col-md-2" })
            </th>
            <th>
                @Html.LabelFor(model => model.SelectionMaskOutputEntity.Company, new { @class = "control-label col-md-2" })
            </th>
            <th>
                @Html.LabelFor(model => model.SelectionMaskOutputEntity.Group, new { @class = "control-label col-md-2" })
            </th>
            <th>
                @Html.LabelFor(model => model.SelectionMaskOutputEntity.Date, new { @class = "control-label col-md-2" })
            </th>
            <th>
                @Html.LabelFor(model => model.SelectionMaskOutputEntity.Created, new { @class = "control-label col-md-2" })
            </th>
            <th>
                @Html.LabelFor(model => model.SelectionMaskOutputEntity.User, new { @class = "control-label col-md-2" })
            </th>
            <th>
                @Html.LabelFor(model => model.SelectionMaskOutputEntity.Status, new { @class = "control-label col-md-2" })
            </th>
            <th>
                @Html.LabelFor(model => model.SelectionMaskOutputEntity.CompanyType, new {@class = "control-label col-md-2" })
            </th>
            <th>
                Odkaz na události verze
            </th>
            <th>
                Odkaz na detail verze
            </th>
        </tr>
    </thead>
    
    @foreach (var item in Model.SelectionResult)
    {
        <tbody>
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.Company
                </td>
                <td>
                    @item.Group
                </td>
                <td>
                    @item.Date.ToString(@"dd/MM/yyyy/hh/:mm")
                </td>
                <td>
                    @item.Created.ToString(@"dd/MM/yyyy/hh/:mm")
                </td>
                <td>
                    @item.User
                </td>
                <td>
                    @item.Status
                </td>
                <td>
                    @item.CompanyType
                </td>
                <td>
                    @Html.ActionLink("Události", "GetFlagVersions", "VersionsFlag",new { versionLogId=item.Id },null)
                </td>
                <td>
                    @Html.ActionLink("Detail","GetVersion", "Versions",new { idVersion=item.Id},null)
                </td>
            </tr>
        </tbody>
    }

</table>

